.blogs{
    height: 100vh;
    width: 100%;
    position: relative;
}
.title{
width: 341px;
height: 116px;
top: 989px;
margin-left:97px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 100px;
font-weight: 800;
line-height: 116px;
letter-spacing: 0em;
text-align: left;
color: rgb(241, 234, 129);
height: 600px;

}