.home{
  height: 100vh;
  width: 100%;
  position: relative;
}
.container {
    position: relative;
  }
  
  img {
    position: absolute;
    width: 450px;
    height: 450px;
    top: 100px;
    right: 30px;
    border-top-left-radius: 60%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 60%;
    overflow: hidden;
    z-index: 1;
  }
  
  .circle {
    position: absolute;
    height: 450px;
    width: 450px;
    border: solid 1px;
    top: 140px;
    right: 50px;
    border-top-left-radius: 60%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 60%;
    z-index: 2;
    color: rgb(71, 67, 6);
  }
  .strokes{
    color: rgb(71, 67, 6);
    font-size:xx-large;
    font-weight: bolder;
    font-style:initial;
    margin-right:70px;
    margin-top: 60px;
    float: right;
  }
  .strokes1{
    position: absolute;
    right:150px;
    color: rgb(71, 67, 6);
    font-size:xx-large;
    font-weight: bolder;
    font-style:initial;
    margin-right:280px;
    margin-top: 430px;
    float: right;
    z-index: 3;
  }
  .txt1,.txt3{
    flex-direction:row;
    margin-top:160px;
    float: left;
    margin-left: 99px;
    color:rgb(3,4,94);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight:450;

  }
  .txt2{
    position: absolute;
    text-align: start;
    float: left;
    margin-top:180px;
    margin-left: 99px;
    font-size: 100px;
    font-weight: bold;
    color:rgb(3,4,94);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
  }
  .txt3{
    position: absolute;
    text-align: start;
    float: left;
    margin-top:410px;
    margin-left: 99px;
  }
  
  