.projects{
  user-select: none;
    width: 100%;
    position: relative;
    
}

.project-title{
  user-select: none;
    margin: 1rem;
    color: black;
}
.projects-details-container {
  user-select: none;
    display: flex;
    justify-content: space-between; 
    margin-left: 60px;
    color:rgb(3,4,94);
    
  }

  .projectintro{
    margin-left: 30px;
  }
  .project-btn{
    color:rgb(3,4,94);
  }
  .about-container {
    width: 40%; 
    
  }

  .project-img{
    margin: 1.5rem;
    width: 90%;
    height: 90%;
  }
  